<% if (error) { %>
    <section class="messages">
        <% error.forEach(function(err) { %>
        <p class="alert alert-danger"><%= err %></p>
        <% }); %>
    </section>
<% } %>

<% if (success_msg && success_msg != "") { %>
    <p class="alert alert-success"><%= success_msg %></p>
<% } %>

<% if (error_msg && error_msg != "") { %>
    <p class="alert alert-danger"><%= error_msg %></p>
<% } %>